<%- await include('views/partials/auth-header.ejs', { title: 'Dashboard' }) %>
<div id="dashboard">
<div class="container">
  <div class="row">

    <button id="success-flash"><img class="info-icon" src="/img/Info-Icon.png" alt="Info Icon"> Success! Website Added! <img class="cross-icon" src="/img/Cross.png" alt="X Icon"> </button>

    <form action="?" method="POST" id="add-website-form">
      <div class="form-group">
        <input type="text" class="form-control" name="addwebsite" id="addwebsite" placeholder="Website URL..."  required>
        <button type="submit" id="add-website-submit" class="btn btn-primary"> Add website <img src="/img/grey-plus.png"></button> <span class="add-website-error"></span>
      </div>
    </form>
    </div><!--.row-->
    <h2>Domains</h2>
    </div><!--.container-->

    <div class="container">
      <div class="row">
    
    <% if (urls) { %>
      <div>
        <h5 class="watchlist-title"><%= urls.length > 0 ? 'Watchlist' : '' %> 
          <span class="legend">
            <span class="up">UP</span>
            <span class="down">DOWN</span>
          </span></h5>
        <% var cleanUrls = []; %>
        <% for(var i=0; i < urls.length; i++) { %>
          <% cleanUrls.push(urls[i].website_url.replace(/(^\w+:|^)\/\//, '')) %>
            <div class="statusBlock <%= urls[i].website_status === 'Website is down' ? 'website-down' : '' %>">
              <span class="website-url"><%= cleanUrls[i] %></span>
              <!-- <span class="website-status"><%= urls[i].website_status %></span> -->
            </div>
        <% } %>
      </div>
    <% } %>

  </div><!--.row-->
</div><!--.container-->
</div><!--#dashboard-->

<%- await include('views/partials/footer.ejs', {}) %>