<%- await include('views/partials/auth-header.ejs', { title: 'Dashboard' }) %>
<div id="dashboard">
<div class="container">
  <div class="row row-block">

    <div><button id="success-flash"><img class="info-icon" src="/img/Info-Icon.png" alt="Info Icon"> Success! Website Added! <img class="cross-icon" src="/img/Cross.png" alt="X Icon"> </button></div>

    <form action="?" method="POST" id="add-website-form">
      <div class="form-group">
        <input type="text" class="form-control" name="addwebsite" id="addwebsite" placeholder="Website URL..."  required>
        <button type="submit" id="add-website-submit" class="btn btn-primary"> Add website <img src="/img/grey-plus.png"></button> <span class="add-website-error"></span>
      </div>
    </form>
    </div><!--.row-->
    </div><!--.container-->
 
    <div class="container">
    <div class="row row-block">
      <div><h2>Domains</h2></div>
      <div class="container domain-panel">
        <% if (urls) { %>
            <% var cleanUrls = []; %>
            <% for(var i=0; i < urls.length; i++) { %>
              <% cleanUrls.push(urls[i].website_url.replace(/(^\w+:|^)\/\//, '')) %>
              <div class="row">
                <% if(i < 1) { %>
                  <div class="column-header">
                    <li class="column-title title-name">Name</li>
                    <li class="column-title title-url" >Url</li>
                    <li class="column-title title-status">Status</li>
                    <li class="column-title  title-action">Action</li>
                  </div>
                <% } %>
                <ul class="statusBlock">
                  <li class="website-name"><%= cleanUrls[i] %></li>
                  <li class="website-url"><%= urls[i].website_url %></li>
                  <li class="default-status <%= urls[i].website_status === 'Website is down' ? 'website-down' : '' %>"></li>
                  <li class="action">
                    <img class="settings" src="/img/cogwheel.png" alt="Cog Wheel">
                    <ul class="sub-menu hidden">
                      <li><a class="delete-website" href="#" website-id="<%= urls[i].website_id %>">Delete</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            <% } %>
          </div>
        <% } %>
      </div>
  </div><!--.row-->
</div><!--.container-->
</div><!--#dashboard-->

<%- await include('views/partials/footer.ejs', {}) %>