<%- await include('views/partials/auth-header.ejs', { title: 'Dashboard' }) %>
<div id="dashboard">
<div class="container">
  <div class="row row-block">

    <div><button id="success-flash"><img class="info-icon" src="/img/Info-Icon.png" alt="Info Icon"> Success! Website Added! <img class="cross-icon" src="/img/Cross.png" alt="X Icon"> </button></div>

    <form action="?" method="POST" id="add-website-form">
      <div class="form-group">
        <input type="text" class="form-control" name="addwebsite" id="addwebsite" placeholder="Website URL..."  required>
        <button type="submit" id="add-website-submit" class="btn btn-primary"> Add website <img src="/img/grey-plus.png"></button> <span class="add-website-error"></span>
      </div>
    </form>
    </div><!--.row-->
    </div><!--.container-->
 
    <% if (urls.length > 0) { %>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div><h2>Domains</h2></div>
            <div class="domain-panel table-responsive">
              <table class="table">
              <% var cleanUrls = []; %>
              <% for(var i=0; i < urls.length; i++) { %>
                <% cleanUrls.push(urls[i].website_url.replace(/(^\w+:|^)\/\//, '')) %>

                  <% if(i < 1) { %>
                  <thead>
                    <tr>
                      <th class="title-name">Name</th>
                      <th class="title-status">Status</th>
                      <th class="title-action">Action</th>
                    </tr>
                  </thead>

                  <tbody>
                  
                  <% } %>

                    <tr>
                      <td class="website-name"><a target="_blank"href="<%= urls[i].website_url %>"><%= cleanUrls[i] %></a></td>

                      <% if(urls[i].website_status === 'Website is up') { %>
                        <td class="default-status"><button>Running smoothly</button></td>
                        <% } else if(urls[i].website_status === 'Website is down') { %>
                        <td class="default-status website-down"><button>Website is down</button></td>
                        <% } else { %>
                        <td class="default-status unknown"><button>Unknown</button></td>
                      <% } %>

                      <td class="action">
                        <img class="settings" src="/img/cogwheel.png" alt="Cog Wheel">
                        <ul class="sub-menu hidden">
                          <li><a class="delete-website" href="#" website-id="<%= urls[i].website_id %>">Delete</a></li>
                        </ul>
                      </td>
                    </tr>

              <% } %>
              </tbody>
            </table>
            </div><!--.table-responsive-->
          </div><!--.col-md-5-->

          <div class="col-md-7">
            <div><h2 id="qc-title">Quick Check</h2></div>
            <div class="quick-display">
              <% 
              const websiteUpArray = [];
              const websiteDownArray = [];

              for(var i=0; i < urls.length; i++) { 
                if(urls[i].website_status === 'Website is up') { 
                  websiteUpArray.push(urls[i]);
                } else if(urls[i].website_status === 'Website is down') { 
                  websiteDownArray.push(urls[i]);
                } 

              } 

              const websiteUpStatus = websiteUpArray.length;
              const websiteDownStatus = websiteDownArray.length;
              %>

              <div class="container">
                <div class="row">

                  <div class="col-md-4">
                    <div class="quickcheck-box success-box">
                      <h3><img src="/img/green-shield.png">Success</h3>
                      <div class="stat"><%= websiteUpStatus %></div>
                      <div class="stat-text">Websites Up</div>
                    </div>
                  </div><!--.col-md-4-->

                  <div class="col-md-4">
                    <div class="quickcheck-box error-box">
                      <h3><img src="/img/orange-shield.png">Errors</h3>
                      <div class="stat"><%= websiteDownStatus %></div>
                      <div class="stat-text">Websites Down</div>
                    </div>
                  </div><!--.col-md-4-->

                  <div class="col-md-4">
                    <div class="quickcheck-box last-check-box">
                      <%
                        const lastChecked = urls[0].website_last_checked;
                        const currentTime = new Date().getTime(); 
                        const timeLeft = currentTime - lastChecked;
                        const minutes = Math.round(timeLeft / 60000);
                      %>
                      <h3><img src="/img/mint-shield.png">Last Check</h3>
                      <div class="stat"><%= minutes %></div>
                      <div class="stat-text">Minute(s) Ago</div>
                    </div>
                  </div><!--.col-md-4-->

                </div><!--.row-->
              </div><!--.container-->
            </div><!--.quick-display-->
            <div class="error-display">
              <h3><img src="/img/mint-shield.png">Last SiteChecker Events</h3>
              <hr />
              <%
              for(var i=0; i < urls.length; i++) { 
                if(urls[i].website_status_code === "500" ) { 
                  const currentDate = new Date();
                  const timeChecked = currentDate - urls[i].website_last_checked;
                  const lastCheckedTime = Math.round(timeChecked / 60000);  %>       

                  <div class="websites-events">
                    <span class="events-url"><event-text><%= urls[i].website_url %></event-text></span>
                    <span><event-text>is down</event-text></span>
                    <span class="events-error-code">with a 
                      <event-text><%= urls[i].website_status_code %> error</event-text> 
                    </span>
                    <span class="events-last-checked-time"> and was last checked 
                      <event-text><%= lastCheckedTime %> minute(s)</event-text> ago 
                    </span>
                  </div>
                  
              <%  } 
              } 
              %>

            </div>
          </div>
        <% } else { %>

          <div class="no-websites">
            <h2><center>No websites to check. Add a website.</center></h2>
          </div>


        <% } %>
 
  </div><!--.row-->
</div><!--.container-->
</div><!--#dashboard-->

<%- await include('views/partials/footer.ejs', {}) %>