<%- await include('views/partials/auth-header.ejs', { title: 'Dashboard' }) %>
<div id="dashboard">
<div class="container">
  <div class="row row-block">

    <div><button id="success-flash"><img class="info-icon" src="/img/Info-Icon.png" alt="Info Icon"> Success! Website Added! <img class="cross-icon" src="/img/Cross.png" alt="X Icon"> </button></div>

    <form action="?" method="POST" id="add-website-form">
      <div class="form-group">
        <input type="text" class="form-control" name="addwebsite" id="addwebsite" placeholder="Website URL..."  required>
        <button type="submit" id="add-website-submit" class="btn btn-primary"> Add website <img src="/img/grey-plus.png"></button> <span class="add-website-error"></span>
      </div>
    </form>
    </div><!--.row-->
    </div><!--.container-->
 
    <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div><h2>Domains</h2></div>
        <div class="domain-panel table-responsive">
            <table class="table">
          <% if (urls) { %>
              <% var cleanUrls = []; %>
              <% for(var i=0; i < urls.length; i++) { %>
                <% cleanUrls.push(urls[i].website_url.replace(/(^\w+:|^)\/\//, '')) %>

                  <% if(i < 1) { %>
                  <thead>
                    <tr>
                      <th class="title-name">Name</th>
                      <th class="title-url" >Url</th>
                      <th class="title-status">Status</th>
                      <th class="title-action">Action</th>
                    </tr>
                  </thead>

                  <tbody>
                  
                  <% } %>

                    <tr>
                      <td class="website-name"><%= cleanUrls[i] %></td>
                      <td class="website-url"><%= urls[i].website_url %></td>

                      <% if(urls[i].website_status === 'Website is up') { %>
                      <td class="default-status"><button>Running smoothly</button></td>
                      <% } else if(urls[i].website_status === 'Website is down') { %>
                      <td class="default-status website-down"><button>Website is down</button></td>
                      <% } else { %>
                      <td class="default-status unknown"><button>Unknown</button></td>
                      <% } %>

                      <td class="action">
                        <img class="settings" src="/img/cogwheel.png" alt="Cog Wheel">
                        <ul class="sub-menu hidden">
                          <li><a class="delete-website" href="#" website-id="<%= urls[i].website_id %>">Delete</a></li>
                        </ul>
                      </td>
                    </tr>

              <% } %>
              </tbody>
            </table>
            </div><!--.table-responsive-->
          </div><!--.col-md-5-->

          <div class="col-md-7">
            <div><h2>Quick Look</h2></div>
            <div class="quick-display">
              <% 
              const websiteUpArray = [];
              const websiteDownArray = [];

              for(var i=0; i < urls.length; i++) { 
                if(urls[i].website_status === 'Website is up') { 
                  websiteUpArray.push(urls[i]);
                } else if(urls[i].website_status === 'Website is down') { 
                  websiteDownArray.push(urls[i]);
                } 

              } 

              const websiteUpStatus = websiteUpArray.length;
              const websiteDownStatus = websiteDownArray.length;
              %>

              <div class="container">
                <div class="row">

                  <div class="col-md-4">
                    <div class="success-box">
                      <h3>Success</h3>
                      <%= websiteUpStatus %>
                    </div>
                  </div><!--.col-md-4-->

                  <div class="col-md-4">
                    <div class="error-box">
                      <h3>Errors</h3>
                      <%= websiteDownStatus %>
                    </div>
                  </div><!--.col-md-4-->

                  <div class="col-md-4">
                    <div class="last-check-box">
                      <% 
                      const lastChecked = urls[0].website_last_checked;
                      const currentTime = new Date().getTime(); 
                      const timeLeft = currentTime - lastChecked;
                      const minutes = Math.round(timeLeft / 60000);
                      %>

                      <h3>Last Check</h3>
                      <%= minutes %>
                    </div>
                  </div><!--.col-md-4-->

                </div><!--.row-->
              </div><!--.container-->
            </div><!--.quick-display-->
          </div>
        <% } %>
 
  </div><!--.row-->
</div><!--.container-->
</div><!--#dashboard-->

<%- await include('views/partials/footer.ejs', {}) %>