<%- await include('views/partials/auth-header.ejs', { title: 'Dashboard' }) %>
<div id="dashboard">
<div class="container">
  <div class="row row-block">

    <div><button id="success-flash"><img class="info-icon" src="/img/Info-Icon.png" alt="Info Icon"> Success! Website Added! <img class="cross-icon" src="/img/Cross.png" alt="X Icon"> </button></div>

    <form action="?" method="POST" id="add-website-form">
      <div class="form-group">
        <input type="text" class="form-control" name="addwebsite" id="addwebsite" placeholder="Website URL..."  required>
        <button type="submit" id="add-website-submit" class="btn btn-primary"> Add website <img src="/img/grey-plus.png"></button> <span class="add-website-error"></span>
      </div>
    </form>
    </div><!--.row-->
    </div><!--.container-->
 
    <div class="container">
    <div class="row">
      <div class="domain-panel">
        <% if (urls) { %>
          <div>
            <h2><%= urls.length > 0 ? 'Domains' : '' %> 
              <span class="legend">
                <span class="up">UP</span>
                <span class="down">DOWN</span>
              </span></h2>
            <% var cleanUrls = []; %>
            <% for(var i=0; i < urls.length; i++) { %>
              <% cleanUrls.push(urls[i].website_url.replace(/(^\w+:|^)\/\//, '')) %>
                <span class="statusBlock">
                  <span class="website-name"><%= cleanUrls[i] %></span>
                  <span class="website-url"><%= urls[i].website_url %></span>
                  <span class="default-status <%= urls[i].website_status === 'Website is down' ? 'website-down' : '' %>"></span>
                  <!-- <span class="website-status"><%= urls[i].website_status %></span> -->
                </span>
            <% } %>
          </div>
        <% } %>
      </div>
  </div><!--.row-->
</div><!--.container-->
</div><!--#dashboard-->

<%- await include('views/partials/footer.ejs', {}) %>